
body{
    background-size: 110%;
}

body.light{
    background-size: 110%;
}

#username-input{
    background-image: url("/icons/username-icon.svg");
    background-color: var(--input-background-color);
    background-position-x: 96%;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 24px;
    padding-right: 46px;
}


#password-input{
    background-image: url("/icons/password-icon.svg");
    background-color: var(--input-background-color);
    background-position-x: 96%;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 24px;
    padding-right: 46px;

}
