
body{
    background-size: 100%;
}
body.light{
    background-size: 100%;
}

#username-input{
    background-image: url("/icons/username-icon.svg");
    background-color: var(--input-background-color);
    background-position-x: 96%;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 24px;
    padding-right: 46px;
}

#phone-input{
    background-image: url("/icons/phone-icon.svg");
    background-color: var(--input-background-color);
    background-position-x: 96%;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 24px;
    padding-right: 46px;
}

#password-input{
    background-image: url("/icons/password-icon.svg");
    background-color: var(--input-background-color);
    background-position-x: 96%;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 24px;
    padding-right: 46px;

}

#check{
    background:var(--dark-mod-background-color) ;
    border: 1.5px solid var(--checkbox-border-color);
    width: 18.5px;
    height: 18.5px;
}







